---
stages:
  - name: "test"
  - name: "deploy-github"
    if: "tag IS present"
  - name: "deploy-pypi"
    if: "tag IS present"

language: "python"
python:
  - "3.6"
  - "3.7"
  - "3.8"

env:
  # Each version of Nautobot listed here must have a corresponding directory/configuration file
  # under development/nautobot_<NAUTOBOT_VER>/configuration.py
  matrix:
    - "INVOKE_NAUTOBOT_SSOT_NAUTOBOT_VER=1.0.3"

# Add your encrypted secret below, you can encrypt secret using "travis encrypt"
# https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml
# global:
#   secure: <Add encrypted token>
services:
  - "docker"

# --------------------------------------------------------------------------
# Tests
# --------------------------------------------------------------------------
before_script:
  - "pip install invoke docker-compose"
  - "curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py > /tmp/get-poetry.py"
  - "python /tmp/get-poetry.py -y --version 1.1.6"
  - "source $HOME/.poetry/env"
  - "cp development/creds.example.env development/creds.env"

script:
  # If you want to test different versions, it may require updating the poetry definition for Nautobot
  # as that is where the version is controlled
  # - "poetry add nautobot=$NAUTOBOT_VER"
  - "INVOKE_NAUTOBOT_SSOT_PYTHON_VER=$TRAVIS_PYTHON_VERSION invoke build --no-cache"
  - "INVOKE_NAUTOBOT_SSOT_PYTHON_VER=$TRAVIS_PYTHON_VERSION invoke tests --failfast"

jobs:
  include:
    - stage: "deploy-github"
      before_script:
        - "pip install --upgrade pip"
        - "pip install poetry"
      script:
        - "poetry version $TRAVIS_TAG"
        - "poetry build"
      deploy:
        provider: "releases"
        api_key: "$GITHUB_AUTH_TOKEN"
        file_glob: true
        file: "dist/*"
        skip_cleanup: true
        "on":
          all_branches: true

    - stage: "deploy_pypi"
      before_script:
        - "pip install --upgrade pip"
        - "pip install poetry"
      script:
        - "echo Deploying the release to PyPI"
        - "poetry version $TRAVIS_TAG"
      deploy:
        provider: "script"
        skip_cleanup: true
        script: "poetry publish --build -u __token__ -p $PYPI_TOKEN"
        "on":
          all_branches: true
