{% for sync in syncs %}
    <a href="{% url 'plugins:nautobot_ssot:sync' pk=sync.pk %}" class="label
        {% if sync.job_result.status == 'SUCCESS' %}label-success
        {% elif sync.job_result.status == 'FAILURE' %}label-danger
        {% elif sync.job_result.status == 'RECEIVED' %}label-default
        {% elif sync.job_result.status == 'REVOKED' %}label-danger
        {% elif sync.job_result.status == 'RETRY' %}label-warning
        {% elif sync.job_result.status == 'PENDING' %}label-default
        {% elif sync.job_result.status == 'STARTED' %}label-warning
        {% endif %}"
        title="{{ sync }}">
    </a>
    &nbsp;
{% endfor %}
<span class="badge" title="Total syncs">{{ count }}</span>
