{% extends "generic/object_list.html" %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load dashboard_helpers %}

{% block header %}{% endblock header %}

{% block title %}Single Source of Truth{% endblock title %}

{% block content %}
    {% if job_status_chart or integration_activity_chart or sync_runs_chart or sync_actions_chart or sync_duration_chart or sync_phase_chart or success_failure_chart or memory_usage_chart %}
        <div class="row mb-3">
            {% if job_status_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ job_status_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if job_status_chart.chart.description %}
                                <p class="text-muted">{{ job_status_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart job_status_chart.chart job_status_chart.chart_config job_status_chart.chart_container_id job_status_chart.chart_width job_status_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if integration_activity_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ integration_activity_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if integration_activity_chart.chart.description %}
                                <p class="text-muted">{{ integration_activity_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart integration_activity_chart.chart integration_activity_chart.chart_config integration_activity_chart.chart_container_id integration_activity_chart.chart_width integration_activity_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if sync_runs_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ sync_runs_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if sync_runs_chart.chart.description %}
                                <p class="text-muted">{{ sync_runs_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart sync_runs_chart.chart sync_runs_chart.chart_config sync_runs_chart.chart_container_id sync_runs_chart.chart_width sync_runs_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if sync_actions_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ sync_actions_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if sync_actions_chart.chart.description %}
                                <p class="text-muted">{{ sync_actions_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart sync_actions_chart.chart sync_actions_chart.chart_config sync_actions_chart.chart_container_id sync_actions_chart.chart_width sync_actions_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if sync_duration_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ sync_duration_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if sync_duration_chart.chart.description %}
                                <p class="text-muted">{{ sync_duration_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart sync_duration_chart.chart sync_duration_chart.chart_config sync_duration_chart.chart_container_id sync_duration_chart.chart_width sync_duration_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if sync_phase_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ sync_phase_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if sync_phase_chart.chart.description %}
                                <p class="text-muted">{{ sync_phase_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart sync_phase_chart.chart sync_phase_chart.chart_config sync_phase_chart.chart_container_id sync_phase_chart.chart_width sync_phase_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if success_failure_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ success_failure_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if success_failure_chart.chart.description %}
                                <p class="text-muted">{{ success_failure_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart success_failure_chart.chart success_failure_chart.chart_config success_failure_chart.chart_container_id success_failure_chart.chart_width success_failure_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if memory_usage_chart %}
                <div class="col-lg-6 col-xl-4 mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>{{ memory_usage_chart.chart.header }}</strong>
                        </div>
                        <div class="card-body">
                            {% if memory_usage_chart.chart.description %}
                                <p class="text-muted">{{ memory_usage_chart.chart.description }}</p>
                            {% endif %}
                            {% render_echart memory_usage_chart.chart memory_usage_chart.chart_config memory_usage_chart.chart_container_id memory_usage_chart.chart_width memory_usage_chart.chart_height %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>Data Sources</strong>
                </div>
                <div class="list-group">
                    {% if data_sources %}
                        {% for data_source in data_sources %}
                            <div class="list-group-item">
                                <span class="float-end">
                                    {% dashboard_data data_source queryset "source" %}
                                </span>
                                <h4 class="list-group-item-heading">
                                    <a href="{% url 'plugins:nautobot_ssot:data_source' class_path=data_source.class_path %}">
                                        {{ data_source.name }}
                                    </a>
                                </h4>
                                <span class="float-end">
                                    <a class="btn btn-sm btn-primary" href="{% url 'extras:job_run' pk=data_source.pk %}">
                                        <span class="mdi mdi-play"></span> Sync
                                    </a>
                                </span>
                                <p class="list-group-item-text text-secondary">{{ data_source.description }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item">— None found —</div>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Data Targets</strong>
                </div>
                <div class="list-group">
                    {% if data_targets %}
                        {% for data_target in data_targets %}
                            <div class="list-group-item">
                                <span class="float-end">
                                    {% dashboard_data data_target queryset "target" %}
                                </span>
                                <h4 class="list-group-item-heading">
                                    <a href="{% url 'plugins:nautobot_ssot:data_target' class_path=data_target.class_path %}">
                                        {{ data_target.name }}
                                    </a>
                                </h4>
                                <span class="float-end">
                                    <a class="btn btn-sm btn-primary" href="{% url 'extras:job_run' pk=data_target.pk %}">
                                        <span class="mdi mdi-play"></span> Sync
                                    </a>
                                </span>
                                <p class="list-group-item-text text-secondary">{{ data_target.description }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item">— None found —</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {% include table_template|default:'responsive_table.html' %}
            <div class="float-end">
                <a href="{% url 'plugins:nautobot_ssot:sync_list' %}">All History</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock content %}
