{% extends 'dcim/device.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header"><strong>Virtual Systems</strong></div>
                <table class="table table-hover nb-table-headings">
                    <tr>
                        <th>System ID</th>
                        <th>Name</th>
                        <th>Interface</th>
                        <th>Logical Group</th>
                    </tr>
                    {% for vsys in object.vsys.all|dictsort:"system_id" %}
                        <tr>
                            <td>{{ vsys.system_id }}</td>
                            <td><a href="{{ vsys.get_absolute_url }}">{{ vsys.name }}</a></td>
                            <td>
                                {% for iface in vsys.interfaces.all %}
                                    <i class="mdi mdi-ethernet"></i><a href="{{ iface.get_absolute_url }}">{{ iface.name }}</a><br/>
                                {% endfor %}
                            </td>
                            <td>
                                {% if vsys.logical_group.exists %}<a href="{{ vsys.logical_group.first.get_absolute_url }}">{{ vsys.logical_group.first.name }}</a>{% else %}<span class="text-secondary">—</span>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-1">
            {% if perms.dcim.change_device and perms.nautobot_ssot.add_virtualsystem %}
                <a href="{% url 'plugins:nautobot_ssot:virtualsystem_add' %}?device={{ object.id }}" class="btn btn-primary" id="add-button">
                    <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Virtual System
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
