{% extends 'dcim/device.html' %}
{% load tree_helpers %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header"><strong>Logical Group</strong></div>
                <table class="table table-hover nb-table-headings">
                    <tr>
                        <th>Name</th>
                        <th>Relationship</th>
                    </tr>
                    {% for group in object.logical_group.first.ancestors %}
                        <tr>
                            <td>{{ group.ancestors.count|tree_position|safe }}<a href="{{ group.get_absolute_url }}">{{ group.name }}</a></td>
                            <td>Ancestor</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        {% if object.logical_group.exists %}
                            <td>{{ object.logical_group.first.ancestors.count|tree_position|safe }}<a href="{{ object.logical_group.first.get_absolute_url }}">{{ object.logical_group.first.name }}</a></td>
                            <td>Directly Assigned</td>
                        {% else %}
                            <td><span class="text-secondary">Not Assigned To A Logical Group</span></td>
                            <td><span class="text-secondary">—</span></td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
{% endblock content %}
