{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}

{% block content %}
    <h1>{% block title %}Data Synchronization{% endblock %}</h1>

    <h2>Synchronization Operations</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-headings">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sync_worker_class in sync_worker_classes %}
                            <tr>
                                <td>
                                    <a href="{% url 'plugins:nautobot_ssot:sync_add' sync_worker_slug=sync_worker_class.slug %}"
                                        class="btn btn-xs btn-primary">
                                        <i class="mdi mdi-play"></i>
                                        Execute
                                    </a>
                                </td>
                                <td>
                                    <strong>{{ sync_worker_class.name }}</strong>
                                </td>
                                <td>
                                    {{ sync_worker_class.description }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2>Previous Data Syncs</h2>
    <div class="pull-right noprint">
        {% block buttons %}{% endblock %}
        {% if request.user.is_authenticated and table_config_form %}
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ObjectTable_config" title="Configure table"><i class="mdi mdi-cog"></i> Configure</button>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 pull-right right-side-panel noprint">
                {% include 'inc/search_panel.html' %}
                {% block sidebar %}{% endblock %}
            </div>
            {% with bulk_edit_url=content_type.model_class|validated_viewname:"bulk_edit" bulk_delete_url=content_type.model_class|validated_viewname:"bulk_delete" %}
                {% if permissions.change or permissions.delete %}
                    <form method="post" class="form form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="return_url" value="{% if return_url %}{{ return_url }}{% else %}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% endif %}" />
                        {% if table.paginator.num_pages > 1 %}
                            <div id="select_all_box" class="hidden panel panel-default noprint">
                                <div class="panel-body">
                                    <div class="checkbox-inline">
                                        <label for="select_all">
                                            <input type="checkbox" id="select_all" name="_all" />
                                            Select <strong>all {{ table.rows|length }} {{ table.data.verbose_name_plural }}</strong> matching query
                                        </label>
                                    </div>
                                    <div class="pull-right">
                                        {% if bulk_edit_url and permissions.change %}
                                            <button type="submit" name="_edit" formaction="{% url bulk_edit_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-warning btn-sm" disabled="disabled">
                                                <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit All
                                            </button>
                                        {% endif %}
                                        {% if bulk_delete_url and permissions.delete %}
                                            <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm" disabled="disabled">
                                                <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete All
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% include table_template|default:'responsive_table.html' %}
                        <div class="pull-left noprint">
                            {% block bulk_buttons %}{% endblock %}
                            {% if bulk_edit_url and permissions.change %}
                                <button type="submit" name="_edit" formaction="{% url bulk_edit_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-warning btn-sm">
                                    <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit Selected
                                </button>
                            {% endif %}
                            {% if bulk_delete_url and permissions.delete %}
                                <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm">
                                    <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete Selected
                                </button>
                            {% endif %}
                        </div>
                    </form>
                {% else %}
                    {% include table_template|default:'responsive_table.html' %}
                {% endif %}
            {% endwith %}
            {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
            <div class="clearfix"></div>
        </div>
    </div>
    {% table_config_form table table_name="ObjectTable" %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/tableconfig.js' %}"></script>
{% endblock %}
