{% extends 'generic/object_create.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>OpenShift Config</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.description %}
            {% render_field form.url %}
            {% render_field form.api_token %}
            {% render_field form.verify_ssl %}
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Sync Options</strong></div>
        <div class="panel-body">
            {% render_field form.sync_namespaces %}
            {% render_field form.sync_nodes %}
            {% render_field form.sync_containers %}
            {% render_field form.sync_deployments %}
            {% render_field form.sync_services %}
            {% render_field form.sync_kubevirt_vms %}
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Filtering</strong></div>
        <div class="panel-body">
            {% render_field form.namespace_filter %}
            {% render_field form.workload_types %}
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Notes</strong></div>
        <div class="panel-body">
            {% render_field form.object_note %}
        </div>
    </div>
{% endblock %} 